header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  z-index: 2;
  padding: 0 5px;
  @media (min-width: $medium) {
    padding: 0;
    height: $header-height;
  }
  @media only screen and (min-width: $medium) and (max-width: $max-large)  {
    height: auto;
  }
  @media (max-width: 991px) {
    padding: 0 15px;
  }
  @media (max-width: 767px) {
    height: auto;
  }
  .navbar-expand {
    @media only screen and (min-width: $medium) and (max-width: $max-large)  {
    padding: 20px 0;
    }
    @media (max-width: 767px) {
      padding: 15px 0;
    }
  }
  &.header-bg{
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.40);
      backdrop-filter: blur(42px);
    }
  }
  &.admin-header{
    width: calc(100% - 300px);
    left: auto;
    right: 0;
    text-align: right;
    .navbar{
      @media (min-width: $extra-large){
        padding-top: 35px;
      }
    }
  }
  .navbar{
    @media (min-width: $large){
      padding: 20px 32px;
    }
    @media (min-width: $extra-large){
      padding: 20px 64px;
    }
    .navbar-brand{
      padding: 0;
      cursor: pointer;
      @media (min-width: $large) {
        display: inline-flex;
        margin-right: 38px;
      }
      @media (min-width: $extra-large) {
        margin-right: 58px;
      }
      img{
        @media (max-width: 991px) {
          max-width: 150px;
          height: auto;
        }
      }
    }
    .btn-link{
      @media (min-width: $large){
        padding: 0;
      }
      @media (min-width: $extra-large){
        padding: inherit;
      }
    }
    .kyc-rejected{
      font-size: 12px;
      font-weight: 700;
      height: 36px;
      padding: 0 16px;
    }
  }
  .language-select {
    @media (min-width: $large) {
      display: inline-flex;
    }
    @media (max-width: 991px) {
      margin-left: auto;
      margin-right: 15px;
    }
  }
  .navbar-expand{
    @media (max-width: 767px) {
      height: 100%;
    }
    .navbar-nav{
      margin-left: 0;
      margin-right: auto;
      &.align-items-center{
        margin-left: auto;
        margin-right: 0;
      }
      &.main-nav{
        position: fixed;
        bottom: 45px;
        border-radius: 100px;
        border: 1px solid rgba(255, 255, 255, 0.11);
        background-color: rgba(255, 255, 255, 0.24);
        box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.35);
        backdrop-filter: blur(50px);
        padding: 12px 15px;
        left: 0;
        right: 0;
        width: fit-content;
        z-index: 1;
        @media (min-width: $large){
          position: static;
          border-radius: 0;
          border: none;
          background-color: transparent;
          box-shadow: none;
          backdrop-filter: none;
          padding: 0;
          margin-left: 0 !important;
        }
        .mobile-nav{
          width: 46px;
          height: 46px;
          border-radius: 50%;
          transition: all ease-in-out 0.2s;
          display: flex;
          align-items: center;
          justify-content: center;
          @media (min-width: $large){
            display: none;
          }
          img{
            transition: all ease-in-out 0.2s;
          }
        }
      }
      .nav-link{
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        padding: 0;
        text-align: center;
        @media (min-width: $large){
          font-size: 14px;
          padding-left: 10px;
          padding-right: 10px;
        }
        @media (min-width: $extra-large){
          font-size: 15px;
          padding-left: 18px;
          padding-right: 18px;
        }
        @media (min-width: 1300px){
          font-size: 16px;
          padding-left: 20px;
          padding-right: 20px;
        }
        &.active{
          color: #fff;
          font-weight: 700;
          .mobile-nav{
            background-color: #0A0B20;
            img{
              filter: brightness(100);
            }
          }
        }
        &:hover{
          text-decoration: none;
        }
        &:not(:last-child){
          @media (min-width: $medium) {
            margin-right: 25px;
          }
          @media (min-width: $large){
            margin-right: 0;
          }
        }
      }
      &.navbar-profile{
        align-items: center;
        @media (max-width: $max-large) {
          margin-left: auto !important;
        }
        .nav-link{
          @media (min-width: $medium) {
            padding-left: 8px;
            padding-right: 8px;
          }
          &.active{
            .user-image{
              border-color: #0B00FF;
            }
          }
        }
        .notification-icon{
          position: relative;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background: #000;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          .badge-green{
            height: 8px;
            width: 8px;
            border-radius: 50%;
            display: inline-block;
            background: #2EDB35;
            position: absolute;
            top: 0;
            right: 4px;
          }
        }
        .user-image{
          height: 40px;
          width: 40px;
          border-radius: 50%;
          border: 3px solid transparent;
          img{
            border-radius: inherit;
            height: 100%;
            width: 100%;
          }
        }
        .form-select{
          border-radius: 20px;
          height: 40px;
          font-size: 12px;
          font-weight: 700;
          line-height: 16px; /* 133.333% */
          letter-spacing: 5.28px;
          text-transform: uppercase;
          padding-left: 38px;
        }
      }
      .btn{
        min-width: 100px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
        @media (min-width: $extra-large) {
          min-width: 110px;
        }
      }
    }
  }
}
.language-select{
  margin-left: 7px;
  position: relative;
  .react-custom-select__dropdown-indicator{
    display: none;
  }
  .custom-react-select{
    &::after{
      content: '';
      height: 16px;
      width: 16px;
      display: inline-block;
      background: url(../images/web.svg) no-repeat center;
      position: absolute;
      top: 12px;
      left: 16px;
    }
    .react-custom-select__control{
      height: 40px;
      padding: 5px 12px 5px 40px;
      font-size: 12px;
      border: none;
      background-color: #000;
    }
    .react-custom-select__single-value{
      font-size: 14px !important;
      letter-spacing: 1px;
    }
    .react-custom-select__menu {
      min-width: 150px;
      .react-custom-select__menu-list{
        .react-custom-select__option{
          font-size: 12px;
          letter-spacing: 0px;
          line-height: 34px;
          margin-bottom: 0;
         color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
  .react-custom-select__option--is-selected{
    position: relative;
    font-weight: 700;
    color: $white !important;
    &::after{
      content: "";
      color: #fff;
      position: absolute;
      width: 9px;
      height: 5px;
      border-bottom: solid 2px currentColor;
      border-left: solid 2px currentColor;
      transform: rotate(-45deg);
      top: 12px;
      margin-left: 12px;
    }
  }
}
.notification-container{
  .list{
    display: flex;
    &:not(:first-child){
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      padding-top: 20px;
      margin-top: 20px;
    }
    .user-image{
      height: 30px;
      width: 30px;
      min-width: 30px;
      border-radius: 50%;
      background: #000;
      margin-right: 12px;
      img{
        border-radius: inherit;
        height: 100%;
        width: 100%;
      }
    }
    .content{
      flex: 1;
    }
    .time{
      text-align: right;
      font-size: 12px;
      font-weight: 400;
      min-width: 70px;
      opacity: 0.5;
    }
    .date{
      font-size: 18px;
      margin-top: 8px;
    }
    .date-time{
      font-size: 12px;
      font-weight: 500;
      margin-top: 3px;
      &.date-time-opacity {
        opacity: 0.5;
      }
    }
    .btn{
      height: 35px;
      width: 127px;
      font-size: 12px;
      padding: 9px 18px 10px;
      margin-top: 15px;
      img{
        margin-right: 6px;
      }
      &:hover{
        img{
          filter: invert(1);
        }
      }
    }
  }
  .not-avialable {
    color: #8289AD;
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
    line-height: 20px;
    padding-top: 14px;
  }
}
.approve-modal{
  .modal-inner-title{
    font-size: 18px;
    font-weight: 700;
    padding: 0 70px 0 30px;
    margin-bottom: 6px;
  }
  .info-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding: 0 70px 0 30px;
    text-align: left;
  }
  .request-list{
    .list{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 30px;
      min-height: 48px;
      .text{
        font-weight: 700;
      }
      &:not(:first-child){
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding-left: 55px;
        .text{
          font-weight: 400;
        }
      }
      .image-container{
        display: inline-flex;
        align-items: center;
        .title{
          margin-left: 10px;
          font-weight: 400;
        }
      }
    }
  }
  .form-check{
    min-height: 20px;
    position: relative;
    input[type=checkbox] + label{
      position: static;
    }
  }
  .btn-space{
    text-align: center;
    margin: 30px 0;
  }
}
.short-term-disabled {
  cursor: default;
  pointer-events: none;
}
.user-dropdown {
  display: flex;
  align-items: center;
  margin: 0 22px 0 auto;
  .profile-menu-btn {
    cursor: pointer;
    position: relative;
    z-index: 103;
    padding: 0;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background: $primary;
    &:active{
      background: $primary;
    }

    &::after, &::before {
      display: none;
    }
  }
  .dropdown-menu[data-bs-popper]{
    left: auto;
    right: 0;
  }
}
.header-with-logo{
  @media (min-width: $large){
    padding: 20px 32px 0;
  }
  @media (min-width: $extra-large){
    padding: 40px 64px 0;
  }
}
.medical-history {
  .custom-close {
    top: 30px;
    right: 30px;
    @media only screen and (min-width: $medium) and (max-width: $max-large)  {
      display: block;
    }
  }
  .modal-dialog {
    max-width: 560px;
  }
  .document-list {
    padding: 0 30px 17px 30px !important;
  }
  .image-container-unset {
    .above-doc-icon {
      margin-left: -7px;
    }
    .content {
      margin-bottom: 10px;
      .title {
        margin-bottom: 5px !important;
      }
      .detail-des {
        margin-top: 5px !important;
      }
    }
  }
  #scrollable-modal-container {
    height: calc(100vh - 330px);
    overflow-y: auto;
    @media (max-width: $max-large) {
      height: calc(100vh - 240px);
    }
    .infinite-scroll-component  {
      width: 100%;
    }
  }
}
.header-logOut {
  margin-left: 0;
  cursor: pointer;
  @media (min-width: $large) {
    margin-left: 15px;
  }
}
.video-join-now {
  color: #0B00FF;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 164px !important;
  height: 45px !important;
  &:hover {
    color: #0B00FF;
    background-color: white;
    border-color: white;
    img {
      filter: unset !important;
    }
  }
}
.lang-es {
  header {
    .navbar .navbar-brand {
      @media (min-width: $large) {
        margin-right: 0;
      }
      @media (min-width: $extra-large) {
        margin-right: 36px;
      }
      @media (min-width: $extra-extra-large) {
        margin-right: 58px;
      }
    }
    .navbar-expand .navbar-nav .nav-link {
      @media (min-width: $extra-large) {
        padding-left: 18px;
        padding-right: 18px;
      }
      @media (min-width: $extra-extra-large) {
        font-size: 16px;
      }
    }
  }
}
.lang-out {
  margin-left: auto;
  + .sign-out-btn {
    padding: 0 !important;
  }
}